.header
{
    width: 100%;
    height: 220px;
    background-color: #006634;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.header p
{
    font-size:45px;
    color:#FFFFFF;
}