* {
   padding: 0;
   margin: 0;
}

.starter {
   position: relative;
   padding: 0px 80px 0px 80px;
}

.starter img {
   max-width: 100%;
   width: 100%;
   padding: 50px;
}

.text {
   position: absolute;
   bottom: 30%;
   color: #ffffff;
   padding-left: 15rem;
}

.text h1 {
   font-size: 55px;
}
.text p {
   font-size: 2rem;
   color: white;
}

.mission {
   font-family: tahoma;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   padding: 0px 80px 0px 80px;
   text-align: center;
}

div.mission img {
   padding: 5rem;
   width: 50%;
}

div.mission .mission-notes h2 {
   color: #006634;
   font-size: 50px;
   padding-bottom: 100px;
}
div.mission .mission-notes p,
#add-ons-notes {
   font-size: 20px;
   font-family: tahoma;
   text-align: center;
   padding: 0px 80px 0px 80px;
}

.wrapper {
   width: 100%;
   height: 600px;
   margin: 100px 0px 80px 80px;
   display: flex;
}

div.wrapper .vision {
   /* width: 70%; */
   /* background:white; */
   margin: 50px;
}

.div-2 {
   width: 30%;
   height: 100%;
   background: #006634;
   border-left: 100px solid white;
   border-bottom: 600px solid transparent;
   box-sizing: border-box;
   margin-left: 130px;
}

div.wrapper .vision h3 {
   margin: 4rem;
   margin-left: 30rem;
   font-family: "EB Garamond", serif;
   font-size: 50px;
   color: #006634;
}

div.wrapper .vision p {
   font-size: 20px;
   font-family: tahoma;
   text-align: center;
}

div.div-2 img {
   margin-left: -38rem;
   margin-top: 8rem;
   width: 60rem;
}

.header {
   /* padding-top:10px; */
   /* margin-top: 10rem; */
   width: 100%;
   margin-bottom: 40px;
}

.core-values_1 {
   margin: 2rem;
   font-family: tahoma;
   font-size: 20px;
}
.core-values_1 p {
   padding: 0px 80px 0px 80px;
}

.core-value_img {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 5rem;
}

#core-value1 {
   height: 29.8rem;
   width: 40%;
}

#core-value2 {
   width: 40%;
   height: 30rem;
}
