* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");

.BodyA-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.stories-image {
    height: 400px;
}

.stories1-text {
    width: 600px;
    font-size: 16px;
}

.stories1-text h1 {
    font-size: 50px;
    padding-bottom: 30px;
    color: #22495f;
}

/* body a ends */

.BodyB {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    width: 100%;
}

.sub-body h2 {
    font-size: 30px;
}

.sub-body p {
    width: 500px;
    font-size: 16px;
}

.bodyB-header-text {
    width: 640px;
    background-color: rgb(24, 46, 38);
}




/* body B end */
.BodyC
{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px 0px 80px;
}
.story {
    position: relative;
}

.overlay-image {
    max-width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

.story .overlay-text {
    position: absolute;
    width: 320px;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
    padding: 10px;
}


.overlay-text h4{
    margin: 40px;
    font-size: 28px;
}

.overlay-text p{
    padding-bottom: 20px;

}
.btn-container 
{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.stories-btn
{
    width: auto;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

/* body C end */

.bodyD
{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
.bodyD-texxt-container
{
    height: 550px ;
}
.bodyD-image
{
    height: 660px;
}
.bodyD .sub1
{
    width: 550px ;

}

.bodyD .sub1 h2
{
    color: #22495F;
    font-size: 40px;
    font-weight:900;

}
.bodyD-sub-container
{
    display: flex;
    justify-content: start;
    gap: 50px;
}
.bodyD-sub-text
{
    width: 370px;
}

.bodyD-sub-text h4
{
    font-size: 23px;
    font-weight: 800;
}

.bodyD-icon
{
    background-color: #006634;
    height: auto;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}