/* font families */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* logo here  */
.logo {
    width: 220px;
}

/* Navbar Starts Here */
.Navigator{
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}
.Navigator ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.Navigator ul li 
{
    list-style: none;
}
<<<<<<< HEAD
.nav_elements nav ul li a{
    text-decoration: none;
    color:#fff;

}

ul li a{
    text-decoration: none;
}
=======
.Navigator ul li a
{
    text-decoration: none;
    color: #232524;
}

>>>>>>> 140fef71c2eb54a18c8f6bfe85b74011314bb2d6

.logo{
    padding: 20px;
}


.body
{
    width: 100vw;
    display: flex;
    justify-content: space-around   ;
    justify-items: center;  
}

.search
{
    padding: 20px;
}
/* Navbar Ends Here */

